@use "../utilities" as *;

/**----------------------------------------
START: Theme Work CSS
----------------------------------------*/
.resume-section {
     &.style-4 {
          position: relative;
          padding-top: 180px;
          padding-bottom: 180px;
          background-color: transparent;
          z-index: 1;
          .section-header {
               margin-bottom: 95px;
          }
          &::before {
               content: "";
               position: absolute;
               top: 0;
               left: 0;
               width: 650px;
               height: 550px;
               border-radius: 50%;
               background: var(--tj-theme-primary);
               background: linear-gradient(260deg, var(--tj-theme-primary) 0%, rgba(115, 67, 210, 0) 100%);
               filter: blur(150px);
               margin-left: -15%;
               margin-top: 12%;
               opacity: 0.6;
               z-index: -1;
          }
          .resume_inner {
               display: flex;
               gap: 35px;
               border-bottom: 1px solid rgba(129, 76, 236, 0.2);
               padding-bottom: 65px;
               margin-bottom: 60px;
               &:last-child {
                    border-bottom: none;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
               }
               @media #{$md, $sm, $xs} {
                    flex-direction: column;
               }
          }
          .resume_wrapper {
               max-width: 1030px;
               width: 100%;
               margin-left: auto;
          }
          @media #{$xl} {
               padding-top: 120px;
               padding-bottom: 120px;
               .resume_wrapper {
                    max-width: 950px;
               }
          }
          @media #{$lg} {
               padding-top: 100px;
               padding-bottom: 100px;
               .resume_wrapper {
                    max-width: 950px;
               } 
          }
          @media #{$md, $sm, $xs} {
               padding-top: 80px;
               padding-bottom: 80px;
               .section-header {
                    margin-bottom: 50px;
               }
          }
     }
}

.side-sticky-inner {
     display: inline-block;
     font-size: 12px;
     font-weight: var(--tj-fw-sbold);
     color: var(--tj-grey-3);
     text-transform: uppercase;
     background-color: var(--tj-theme-secondary);
     padding: 10px 20px;
     border-radius: 50px;
     transition: 0.6s;
     @media #{$md, $sm, $xs} {
          position: relative !important;
          top: 0 !important;
          left: 0 !important;
     }
}

.resume_item {
     display: flex;
     max-width: 1030px;
     width: 100%;
     margin-left: auto;
     gap: 95px;
     border-bottom: 1px solid rgba(129, 76, 236, 0.2);
     padding-bottom: 45px;
     margin-bottom: 40px;
     &:last-child {
          border-bottom: none;
          padding-bottom: 0px;
          margin-bottom: 0px;
     }
     .resume_content {
          display: flex;
          gap: 40px;
          max-width: 735px;
          width: 100%;
          .icon_box {
               max-width: 60px;
               width: 100%;
               img {
                    width: 100%;
                    border-radius: 8px;
               }
          }
          .resume_text {
               max-width: 645px;
               width: 100%;
               .title {
                    font-size: 20px;
                    font-weight: var(--tj-fw-medium);
                    text-transform: uppercase;
                    margin-bottom: 15px;
                    letter-spacing: 0.02em;
               }
               .subtitle {
                    display: block;
                    font-size: 15px;
                    text-transform: uppercase;
                    letter-spacing: 0.02em;
                    margin-bottom: 22px;
               }
               .desc {
                    font-size: 18px;
                    p {
                         &:last-child {
                              margin-bottom: 0;
                         }
                    }
               }
          }
     }
     .resume_date {
          max-width: 210px;
          width: 100%;
          .date {
               display: block;
               color: var(--tj-white);
               letter-spacing: 0.02em;
               text-align: end;
          }
     }
     @media #{$lg} {
          max-width: 780px;
          gap: 35px;
     }
     @media #{$md, $sm, $xs} {
          gap: 20px;
     }
     @media #{$sm, $xs} {
          flex-direction: column;
          .resume_content {
               flex-direction: column;
               gap: 30px;
          }
          .resume_date {
               max-width: 100%;
               .date {
                    text-align: start;
               }
          }
     }
}
/* !END: Theme Work CSS */
