@use "../utilities"as *;



/**----------------------------------------
START: About CSS
----------------------------------------*/

.tj-about {
     &-7 {
          &-area {
               position: relative;
               background: var(--tj-theme-accent-2);
               padding: 120px 0 90px;
               z-index: -1;
               @media #{ $md, $sm, $xs} {
                    padding: 80px 0 80px;
               }
          }
          &-wrapper {
               display: flex;
               flex-wrap: wrap;
               .side-sticky-inner {
                    display: inline-block;
                    color: var(--tj-theme-primary);
                    font-size: 12px;
                    font-weight: var(--tj-fw-sbold);
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    border: 1px solid rgba(129, 76, 236, 0.2);
                    border-radius: 50px;
                    padding: 5px 12px;
                    background: transparent;
               }
               @media #{$sm,$xs} {
                    row-gap: 30px;
               }
          }
          &-bottom {
               max-width: 810px;
               width: 100%;
               margin-left: auto; 
               @media #{$lg} {
                    max-width: 660px;
               }
               @media #{$md} {
                    max-width: 420px;
               }
          }
          &-title {
               font-weight: var(--tj-fw-sbold);
               font-size: 44px;
               line-height: 1.2;
               letter-spacing: -0.02em;
               text-transform: capitalize;
               margin-bottom: 30px;
               @media #{$lg} {
                    font-size: 36px;
               }
               @media #{$md,$sm} {
                    font-size: 30px;
               }
               @media #{$xs} {
                    font-size: 24px;
               }
               & span {
                    font-size: 36px;
               }
          }
     }
}




/* !END: About CSS */