@use "../utilities" as *;

/**----------------------------------------
START: Theme Header CSS
----------------------------------------*/

.tj-header {
     &-area {
          &.header-4 {
            padding: 20px 0;
            & .header-menu {
              border: 1px solid #814cec;
              border-radius: 50px;
              padding: 0px 40px;
            }
            & .header-menu {
              & ul {
                & > li {
                  & > a {
                    padding: 14px 0px;
                    &::before {
                      bottom: 8px;
                      display: none;
                    }
                    &::after {
                      right: -20px;
                      display: none;
                    }
                  }
                  & > .sub-menu {
                    top: 102%;
                    & > li {
                      & > .sub-menu {
                        top: 0;
                      }
                      &.has-dropdown {
                        & > a {
                          &::after {
                            display: block;
                          }
                        }
                      }
                      
                    }
                  }
                }
              }
            }
            & .social-icons{
              & li {
                & a {
                  color: var(--tj-white);
                  border: 1px solid var(--tj-white);
                }
              }
            }
            &-sticky {
              & .header-menu ul {
                & > li {
                  & > a {
                    &::before {
                      display: none;
                    }
                    &::after {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
        &-4 {
          &-logo {
               max-width: 205px;
               width: 100%;
               @media #{$lg} {
                    max-width: 130px;
               }
          }
        }
}

/* !END: Theme Header CSS */







