@use "../utilities" as *;

/**----------------------------------------
START: Theme Cta CSS
----------------------------------------*/
.tj-cta-section {
     padding-bottom: 155px;
     @media #{$xl} {
          padding-bottom: 120px;
     }
     @media #{$lg} {
          padding-bottom: 100px;
     }
     @media #{$md, $sm, $xs} {
          padding-bottom: 80px;
     }
}

.cta-wrapper {
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     border-radius: 25px;
     padding: 94px 25px;
     .cta-inner {
          text-align: center;
          .cta-images {
               max-width: 98px;
               width: 100%;
               margin-left: auto;
               margin-right: auto;
               margin-bottom: 10px;
               img {
                    height: 98px;
                    object-fit: cover;
                    border-radius: 50%;
               }
          }
          .title {
              font-size: 58px;
              font-weight: var(--tj-fw-medium); 
              margin-bottom: 25px;
              letter-spacing: -2px;
          }
          .subtitle {
               display: block;
               font-weight: var(--tj-fw-medium); 
          }
          .cta-button {
               margin-top: 25px;
          }
     }
     @media #{$lg} {
          .cta-inner {
               .title {
                    font-size: 50px;
               } 
          }
     }
     @media #{$md} {
          padding: 80px 25px;
          .cta-inner {
               .title {
                    font-size: 45px;
               } 
          }
     }
     @media #{$sm} {
          padding: 75px 15px;
          .cta-inner {
               .title {
                    font-size: 40px;
               } 
          }
     }
     @media #{$xs} {
          padding: 75px 15px;
          .cta-inner {
               .title {
                    font-size: 35px;
               } 
          }
     }
}
/* !END: Theme Cta CSS */
