@use "../utilities" as *;




/**----------------------------------------
START: Theme Service CSS
----------------------------------------*/

.tj-service {
     &-4 {
          &-area {
               padding: 100px 0 90px;
               position: relative;
               z-index: 1;
               @media #{$md, $sm, $xs} {
                    padding: 40px 0 50px;  
               }
               &::before {
                    content: "";
                    position: absolute;
                    top: 22%;
                    left: 200px;
                    transform: translate(-50%);
                    width: 900px;
                    height: 700px;
                    border-radius: 50%;
                    background: linear-gradient(260deg, var(--tj-theme-primary) 0%, rgba(115, 67, 210, 0) 100%);
                    filter: blur(150px);
                    opacity: 0.6;
                    z-index: -1;
               }
          }
          &-wrapper {
               background: rgba(36, 15, 49, 0.5);
               backdrop-filter: blur(40px);
               border-radius: 25px;
               padding: 30px;
               margin-bottom: 30px;
               border: 1px solid transparent;
               position: relative;
               z-index: 1;
               &::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 0;
                    border-top: 1px solid var(--tj-theme-primary);
                    border-left: 1px solid var(--tj-theme-primary);
                    border-radius: 25px;
                    transition: 0.5s;
                    opacity: 0;
                    visibility: hidden;
               }
               &::after {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    right: 0;
                    width: 0;
                    height: 0;
                    border-bottom: 1px solid var(--tj-theme-primary);
                    border-right: 1px solid var(--tj-theme-primary);
                    border-radius: 25px;
                    transition: 0.5s;
                    opacity: 0;
                    visibility: hidden;
               }
               &:hover {
                    &::before {
                         width: 100%;
                         height: 100%;
                         visibility: visible;
                         opacity: 1;
                         border-radius: 25px;
                    }
                    &::after {
                         width: 100%;
                         height: 100%;
                         visibility: visible;
                         opacity: 1;
                         border-radius: 25px;
                    }
                    & .tj-service-4-icon span i {
                         transform: scaleX(-1);
                    }
               }
               .service-link {
                    border: none;
                    padding: 0;
                    margin: 0;
                    background: transparent;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
               }
          }
          &-icon {
               margin-bottom: 75px;
               & span {
                    width: 64px;
                    height: 64px;
                    line-height: 1;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 34px;
                    background: var(--tj-theme-h3-primary-1);
                    border-radius: 20px;
                    color: var(--tj-white);
                    & i {
                         transition: transform 0.5s ease, -webkit-transform 0.5s ease;
                    }
               }
          }
          &-title {
               font-weight: var(--tj-fw-sbold);
               letter-spacing: -0.02em;
               color: var(--tj-white);
               @media #{$xl} {
                    font-size: 21px;
               }
               & a {
                    display: inline-block;
               }
          }
          &-paragraph {
               font-size: 15px;
               letter-spacing: 0.02em;
               color: #c0ace9;
               opacity: 0.8;
          }
     }
}

/* !END: Theme Service CSS */
