@use "../utilities" as *;


/**----------------------------------------
START: Theme Faq CSS
----------------------------------------*/

.tj-service {
    &-5 {
        &-area {
            padding: 0 0 120px;
            background-color: var(--tj-theme-accent-1);
            @media #{$xl} {
                padding: 0 0 90px; 
            }
            @media #{$lg} {
                padding: 0 0 70px; 
            }
            @media #{$md, $sm, $xs} {
                padding: 0 0 50px; 
            }
        }
        &-accordion {
            &-wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                @media #{$md,$sm,$xs} {
                    row-gap: 50px;
                }
            }
            &-list {
                padding-left: 0;
                &-content {
                    max-width: 504px;
                    width: 100%;
                    margin-left: 50px;
                    margin-top: 50px;
                    transition: all 0.3s ease-in;
                    @media #{$xl} {
                        max-width: 430px;
                    }
                    @media #{$lg} {
                        max-width: 400px;
                    }
                    @media #{$xs} {
                        margin-left: 32px;
                        margin-top: 30px;
                    }
                }
                &-title {
                    color: var(--tj-white);
                    margin-bottom: 0;
                    font-weight: var(--tj-fw-bold);
                    font-size: 30px;
                    letter-spacing: -0.02em;
                    cursor: pointer;
                    transition: all 0.3s ease-in;
                    position: relative;
                    &::before {
                        content: "\e093";
                        top: 0;
                        right: 0;
                        color: var(--tj-white);
                        position: absolute;
                        font-family: var(--tj-ff-fontawesome);
                        font-weight: var(--tj-fw-regular);
                        opacity: 1;
                        visibility: visible;
                        transition: all 0.3s ease-in;
                    }
                    & span {
                        color: var(--tj-theme-primary);
                        margin-right: 4px;
                    }
                    @media #{$sm} {
                        font-size: 22px;
                    } 
                    @media #{$xs} {
                        font-size: 20px;
                    } 
                }
                &-paragraph {
                    color: rgba(255, 255, 255, 0.6);
                    margin-bottom: 16px;
                    @media #{$xl} {
                        font-size: 15px;
                    }
                }
                & li {
                    background-color: transparent;
                    border: 1px solid rgba(255, 255, 255, .10);
                    border-radius: 15px;
                    margin-bottom: 30px;
                    list-style: none;
                    padding: 30px 30px 30px 50px;
                    position: relative;
                    z-index: 1;
                    @media #{$lg} {
                        padding: 30px 25px;
                    }
                    @media #{$md, $sm, $xs} {
                        padding: 25px 15px;
                    }
                    &::before {
                        position: absolute;
                        content: "\e093";
                        font-family: var(--tj-ff-fontawesome);
                        right: 0;
                        color: var(--tj-white);
                        transition: 0.6s;
                        opacity: 0;
                        visibility: hidden;
                        font-weight: 400;
                        top: 0;
                    }
                }
            }
            &-thumb {
                max-width: 615px;
                width: 100%;
                @media #{$xl} {
                    max-width: 540px;
                }
                @media #{$lg} {
                    max-width: 400px;
                }
                @media #{$md} {
                    max-width: 100%;
                }
                & img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                    object-fit: cover;
                }
            }
            &-list-item {
                margin-bottom: 22px;
                & span {
                    font-weight: var(--tj-fw-sbold);
                    color: var(--tj-white);
                    display: block;
                    position: relative;
                    z-index: 1;
                    padding-left: 12px;
                    line-height: 2;
                    @media #{$xs} {
                        font-size: 14px;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        width: 4px;
                        height: 4px;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        background: var(--tj-white);
                    }
                }
            }
        }
    }
}


  
.accordion-list li.active h3 {
    padding-top: 50px;
    padding-bottom: 30px;
    transform: translateY(22px);
    margin-bottom: -115px;
    @media #{$xl} {
        transform: translateY(-15px);
    }
    @media #{$lg} {
        transform: translateY(-50px);
    }
    @media #{$md,$sm,$xs} {
        padding-top: 0;
        padding-bottom: 0;
        transform: translateY(0);
        margin-bottom: 0;
    }
    &::before {
        visibility: hidden;
        opacity: 0;
    }
}
.accordion-list li {
    cursor: pointer;
}
  
.accordion-list li.active {
  border: 1px solid var(--tj-theme-primary);
}


  

  

  
  


  


/* !END: Theme Faq CSS */