@use "../utilities" as *;

/**----------------------------------------
START: Theme Cta CSS
----------------------------------------*/

.tj-cta {
     &-6 {
          &-section {
               background: var(--tj-black-2);
               padding-bottom: 0;
          }
          &-wrapper {
               background-position: center center;
               padding: 120px 25px 100px;
               @media #{$md} {
                    padding: 75px 25px;
               }
               @media #{$sm, $xs} {
                    padding: 50px 15px;
               }
          }
          &-subtitle {
               font-size: 14px;
               text-transform: uppercase;
               color: var(--tj-white);
               display: inline-block;
               border: 1px solid rgba(255, 255, 255, 0.2);
               border-radius: 40px;
               padding: 5px 10px;
               font-weight: var(--tj-fw-regular);
               margin-bottom: 46px;
               @media #{$md} {
                    margin-bottom: 30px;
               }
               @media #{$sm, $xs} {
                    margin-bottom: 25px;
               }
          }
          &-title {
               font-weight: var(--tj-fw-sbold);
               font-size: 70px;
               letter-spacing: -0.04em;
               color: var(--tj-white);
               margin-bottom: 85px;
               @media #{$lg} {
                    font-size: 50px;
                    margin-bottom: 65px;
               }
               @media #{$md} {
                    font-size: 40px;
                    margin-bottom: 50px;
               }
               @media #{$sm} {
                    font-size: 35px;
                    margin-bottom: 40px;
               }
               @media #{$xs} {
                    font-size: 25px;
                    margin-bottom: 35px;
               }
          }
          &-socail {
               border-top: 1px solid rgba(255, 255, 255, 0.1);
               border-bottom: 1px solid rgba(255, 255, 255, 0.1);
               display: inline-block;
               padding-top: 15px;
               & ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    padding-left: 0;
                    & li {
                         list-style: none;
                         position: relative;
                         padding-left: 15px;
                         padding-right: 15px;
                         @media #{$sm} {
                              font-size: 14px;
                              padding-left: 0;
                             &::after {
                                   display: none;
                              }
                         }
                         @media #{$xs} {
                              padding-right: 0;
                              padding-left: 0;
                              margin-bottom: 20px;
                              margin-right: 20px;
                              &::after {
                                   display: none;
                              }
                              &:nth-child(3) {
                                   margin-bottom: 0;
                              }
                              &:nth-child(4) {
                                   margin-bottom: 0;
                              }
                         }
                         &::after {
                              content: "";
                              position: absolute;
                              height: 20px;
                              width: 2px;
                              top: 50%;
                              right: 0;
                              background: rgba(255, 255, 255, 0.10);
                              transform: translateY(-50%);
                         }
                         &:first-child {
                              padding-left: 0;
                         }
                         &:last-child {
                              padding-right: 0;
                              &::after {
                                   display: none;
                              }
                         }
                         & span {
                              width: 28px;
                              height: 28px;
                              line-height: 1;
                              display: inline-flex;
                              align-items: center;
                              justify-content: center;
                              border-radius: 50%;
                              border: 1px solid rgba(255, 255, 255, 0.14);
                              background: transparent;
                              margin-right: 6px;
                              transition: .3s;
                              & i {
                                   display: inline-flex;
                                   line-height: 1;
                                   font-size: 11px;
                              }
                         }
                         & a {
                              color: var(--tj-white);
                              text-decoration: none; 
                              transition: .3s;
                         }
                    }
               }
          }
     }
}

.tj-cta-6-socail {
     ul {
          li {
               span {
                    position: relative;
                    z-index: 1;
                    &::before {
                         content: "";
                         position: absolute;
                         top: 0;
                         left: 0;
                         width: 100%;
                         height: 100%;
                         background: var(--tj-white);
                         transform: scale(0);
                         transition: 0.3s;
                         border-radius: 50%;
                         z-index: -1;
                    }
               }
               &:hover {
                    span {
                         color: var(--tj-theme-accent-2);
                         &::before {
                              transform: scale(1);
                         }
                    }
               }
          }
     }
}
/* !END: Theme Cta CSS */