@use "../utilities" as *;

/**----------------------------------------
START: Theme Blog CSS
----------------------------------------*/



.tj-blog {
     &-6 {
          &-area {
               background: var(--tj-black-2);
               padding: 120px 0 90px;
               @media #{$md, $sm, $xs} {
                    padding: 80px 0 50px;
               }
          }
          &-wrapper {
               background: var(--tj-theme-accent-2);
               border-radius: 12px;
               padding: 15px;
               margin-bottom: 30px;
               &:hover {
                    .tj-blog-6-thumb {
                         img {
                              transform: scale(1.1);
                         }
                    } 
               }
          }
          &-thumb {
               position: relative;
               border-radius: 12px;
               overflow: hidden;
               margin-bottom: 16px;
               & a {
                    display: block;
               }
               & img {
                    width: 100%;
                    transition: 0.4s;
               }
          }
          &-content {
               padding: 15px;
          }
          &-meta {
               display: flex;
               align-items: center;
               margin-bottom: 24px;
               &-opti {
                    & span {
                         background: rgba(129, 76, 236, 0.2);
                         border-radius: 56px;
                         padding: 2px 8px;
                         font-weight: var(--tj-fw-medium);
                         font-size: 16px;
                         color: var(--tj-theme-h3-primary-1);
                         margin-right: 16px;
                    }
               }
               &-date {
                    & span {
                         font-weight: var(--tj-fw-medium);
                         font-size: 16px;
                         color: rgba(255, 255, 255, 0.5);
                         position: relative;
                         z-index: 1;
                         padding-left: 18px;
                         &::before {
                              content: "";
                              position: absolute;
                              width: 4px;
                              height: 4px;
                              top: 50%;
                              left: 0;
                              transform: translateY(-50%);
                              border-radius: 50%;
                              background: rgba(255, 255, 255, 0.50);
                              border-radius: 50%;
                         }
                    }
               }
          }
          &-title {
               color: var(--tj-body);
               font-weight: var(--tj-fw-sbold);
               font-size: 24px;
               line-height: 1.4;
               letter-spacing: 0.02em;
               text-transform: uppercase;
               margin-bottom: 20px;
               @media #{$md,$xs} {
                    font-size: 22px;
               }
               & a {
                    display: inline-block;
                    transition: .3s;
               }
          }
          &-btn {
               font-weight: var(--tj-fw-bold);
               font-size: 15px;
               color: var(--tj-white);
               text-decoration: none;
               position: relative;
               z-index: 1;
               &::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 1px;
                    bottom: -3px;
                    left: 0;
                    background: var(--tj-white);
                    transition: .4s;
               }
               .icon_box {
                    padding: 0px 0px;
               }
               & i {
                    display: inline-flex;
                    line-height: 1;
                    transition: .4s;
               }
               &:hover {
                    &::before {
                         width: 100%;
                    }
               }
          }
     }
}

.tj-blog-6-wrapper {
     .tj-blog-6-meta-opti {
          .link_btn {
               background: rgba(129, 76, 236, 0.2);
               border-radius: 56px;
               padding: 2px 8px;
               font-weight: var(--tj-fw-regular);
               font-size: 15px;
               color: var(--tj-theme-h3-primary-1);
               text-decoration: none;
               transition: 0.4s;
               margin-right: 16px;
               &:hover {
                    color: var(--tj-white);
                    background-color: var(--tj-theme-primary);
               }
          }
     }
     .tj-blog-6-title {
          a {
               display: inline;
               background-image: linear-gradient(to right, currentColor 0, currentColor 100%);
               background-position: 0 100%;
               background-repeat: no-repeat;
               background-size: 0 1px;
               transition: all 0.3s, background-size 0.8s;
               &:hover {
                    color: var(--tj-color-theme-primary);
                    background-size: 100% 1px;
               }
          }
     }
}
/* !END: Theme Blog CSS */