@use "../utilities"as *;



/**----------------------------------------
START: progress CSS
----------------------------------------*/




.tj-progress {
     &-7 {
          &-area {
               background: var(--tj-h3-bg);
               padding: 120px 0 90px;
               @media #{$md,$sm,$xs} {
                    padding: 60px 0 40px;
               }
               & .progress-title {
                    & .title {
                         font-size: 20px;
                         letter-spacing: -0.02em;
                    }
               }
               & .progress-single {
                    & .desc {
                         color: rgba(255, 255, 255, .6);
                         margin-bottom: 75px;
                    }
                    &:hover {
                         & .tj-progress-7-icon {
                              & span {
                                   & img {
                                        transform: scaleX(-1);
                                   }
                                   & i {
                                        transform: scaleX(-1);
                                   }
                              } 
                         }
                    }
               }
          }
          &-progress-single {
               background: var(--tj-bg-2);
          }
          &-icon {
               & span {
                    width: 80px;
                    height: 80px;
                    line-height: 1;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    background: var(--tj-theme-accent-2);
                    border-radius: 50%;
                    & img {
                         max-width: 48px;
                         width: 100%;
                         height: 48px;
                         transition: transform 0.5s ease, -webkit-transform 0.5s ease;
                    }
                    & i {
                         display: inline-flex;
                         line-height: 1;
                         transition: transform 0.5s ease, -webkit-transform 0.5s ease;
                    }
               }
          }
     }
}









/* !END: progress CSS */